@charset "utf-8";

body {
    overflow-x: hidden;
    margin: 0;
}

.wrap {
    overflow: hidden;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    border: solid #999;
    border-width: 0 1px;
    /*background-color: #eee;*/
}

.header {
    height: 200px;
    border-bottom: 1px solid #999;
}

.footer {
    height: 200px;
    border-top: 1px solid #999;
}

.container {
    overflow: hidden;
}

.nav {
    float: left;
    position: relative;
    width: 200px;
}

.nav .floating {
    position: absolute;
    width: 200px;
}

.nav .fixed {
    position: fixed;
}

.content {
    float: left;
    position: relative;
    width: 698px;
    border: solid #999;
    border-width: 0 1px;
}

.aside {
    float: left;
    position: relative;
    width: 300px;
}

.aside .floating {
    position: absolute;
    width: 300px;
}

.aside .fixed {
    position: fixed;
}

.article {
    padding: 30% 0;
    text-align: center;
}

.article + .article {
    border-top: 1px solid #ddd;
}

.article:nth-child(odd) {
    /*background-color: #f8f8f8;*/
}

.article:nth-child(even) {
    background-color: #f8f8f8;
}
